@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comic Book Detail";

    //  var seriesTitle = "The Amazing Spider-Man";
    //  var issueNumber = 700;
    //  var description ="<p>Final issue! Witness the final hours of Doctor Octopus' life and his one, last, great act of revenge! Even if Spider-Man survives... <strong>will Peter Parker?</strong></p>";
    //  var artists = new String[]
    //{
    // "Script: Dan Slott",
    //  "Pencils: Humberto Ramos",
    //  "Inks: Victor Olazaba",
    //  "Colors: Edgar Delgado",
    //   "Letters: Chris Eliopoulos"


    // };

}


<h1>@ViewBag.SeriesTitle</h1>
<h2>Issue #@ViewBag.IssueNumber</h2>

<h5>Description</h5>
<div>@Html.Raw(@ViewBag.Description)</div>

@if (ViewBag.Artists.Length > 0)
{
    <h5>Artists</h5>
    <div>
        <ul>
            @foreach(var artist in ViewBag.Artists)
            {
                <li>@artist</li>
            }
        </ul>
    </div>
}

     



